.greaterin3 {
  margin: 3rem auto;
  width: 50%;
}

.greaterin3-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.greaterin3-header > button {
  padding: 0.8rem;
  background-color: red;
}

.greater-ctrl {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn-greater {
  width: 100%;
}
