.frm-addtask {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.frm-addtask-ctrl {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

.frm-addtask-ctrl input {
  height: 2rem;
  font-size: 1.3rem;
  padding: 0.5rem 0.5rem;
}

.frm-addtask-ctrl.reminder {
  flex-direction: row;
  align-items: center;
}

.frm-addtask-ctrl.reminder input {
  margin-left: 2rem;

  width: 1.5rem;
}

.btn-block {
  background-color: black;
  width: 100%;
}
